body {
    /* Set background image and gradient overlay */
    background: url('C:\\html\\Web\\light-pink-heart-pattern\\67663.jpg') center/cover no-repeat;
    margin: 0;
    overflow: hidden;
    font-family: 'Cursive', sans-serif; /* Use a more creative font */
    animation: slideBackground 20s linear infinite; /* Apply background animation */
}

@keyframes slideBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(255, 182, 193, 0.8); /* Semi-transparent Hot Pink background */
    border-radius: 15px; /* Rounded corners for the container */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Subtle box shadow for depth */
    opacity: 0; /* Start with opacity 0 for fadeIn animation */
    animation: fadeIn 1s ease-in-out forwards; /* Apply fadeIn animation */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.gif_container {
    position: relative;
    overflow: hidden;
    border-radius: 15px; /* Rounded corners for the container */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Subtle box shadow for depth */
}

#gifImage {
    max-width: 100%;
    height: auto;
    border-radius: 15px; /* Rounded corners for the image */
    transform: scale(1.05); /* Slightly enlarge the image for a dynamic effect */
}

.buttons {
    margin-top: 20px;
}

.btn {
    margin: 0 10px; /* Simplify margin */
    padding: 12px 24px;
    font-size: 18px;
    background-color: #ff69b4; /* Hot Pink */
    color: #fff;
    border: 2px solid #fff; /* Add a white border */
    border-radius: 25px; /* Rounded corners for the button */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out, border-color 0.3s;
    animation: pulse 3s infinite alternate; /* Apply pulsating animation */
}

@keyframes pulse {
    to {
        transform: scale(1.1);
    }
}

.btn:hover {
    background-color: #d23c74; /* Lighter shade of Hot Pink on hover */
    border-color: #d23c74; /* Change border color on hover */
    transform: translate(0, -5px); /* Move the button slightly up on hover */
}
